.content__container {
  background-color: $NoirNuit;
  position: relative;

  #circle-w-bg {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 10%;
  }

  #circle-v-bg {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 9%;
  }

  .anim-logo {
    animation-name: randomMoove;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    display: inline-block;
  }
}
