.content__container {
  background-color: $NoirNuit;
  position: relative;

  // Cercle en background //

  #circle-w-bg {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 10%;
  }

  // Cercle shadow en background //

  #circle-v-bg {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 9%;
  }
}
