.content--designer {
  height: auto;
  padding: 4rem 0 2rem 0;
  position: relative;

  @media screen and (max-width: 800px) {
    margin: 0 2rem;
  }

  @media screen and (max-width: 450px) {
    padding: 2rem 0 0rem 0;
  }

  @media screen and (max-width: 400px) {
    padding: 1rem 0;
  }

  &--text {
    padding: 2rem 0 2rem 0;

    h2 {
      padding: 0 0 1rem 0;
    }

    p {
      padding: 0 0 3rem 0;
    }

    button {
      font-size: 1.2rem;
      margin: 0 0 3rem 0;

      i {
        padding-left: 0.6rem;
      }
    }

    @media screen and (max-width: 1000px) {
      padding: 2rem;
    }

    @media screen and (max-width: 800px) {
      button {
        font-size: 1rem;
        margin: 0 0 3rem 0;
      }
    }

    @media screen and (max-width: 400px) {
      padding: 2rem 0 2rem 0;
    }
  }

  &--cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: 30% 40% 30%;
    padding: 2rem 0 0 0;
    grid-template-areas:
      "grid1 grid1 grid1"
      "grid2 grid3 grid3"
      "grid4 grid4 grid5";

    @media screen and (max-width: 1000px) {
      grid-template-columns: 100%;
      padding: 2rem 2rem 0 2rem;
      grid-template-areas:
        "grid1"
        "grid3"
        "grid4";
    }

    .card {
      height: 356px;
      border-radius: 12px;

      @media screen and (max-width: 1000px) {
        width: 100%;
        height: 180px;
      }
    }
  }

  #grid1 {
    grid-area: grid1;
    background: url("media/mockup-mob-test.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
    border-radius: 12px;
  }
  #grid2 {
    grid-area: grid2;
    background-color: $NoirNuit;
    border: 2px solid $Blanc;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media screen and (max-width: 1000px) {
      display: none;
    }

    p {
      font-size: 0.9rem;
      padding: 1rem 2rem;
      margin-bottom: 1rem;
    }

    a {
      background-color: $NoirNuit;
      color: $Blanc;
      padding: 0.6rem 1rem;
      margin: 2rem 0 0 0;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 8px;
      border: 2px solid $Blanc;
      transition: 0.25s;

      &:hover,
      &:focus {
        color: $NoirNuit;
      }
    }
    .fill:hover,
    .fill:focus {
      box-shadow: inset 0 0 0 2em $Blanc;
    }
  }

  #grid3 {
    grid-area: grid3;
    background: url("media/Mockup_desktop_V1.png") no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 12px;
  }

  #grid4 {
    grid-area: grid4;
    background: url("media/Mockup_VisitCard_V1.png") no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
    border-radius: 12px;
  }

  #grid5 {
    grid-area: grid5;
    background-color: $NoirNuit;
    border: 2px solid $Blanc;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media screen and (max-width: 1000px) {
      display: none;
    }

    p {
      font-size: 0.9rem;
      padding: 1rem 2rem;
      margin-bottom: 1rem;
    }

    a {
      background-color: $NoirNuit;
      color: $Blanc;
      padding: 0.6rem 1rem;
      margin: 2rem 0 0 0;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 8px;
      border: 2px solid $Blanc;
      transition: 0.25s;

      &:hover,
      &:focus {
        color: $NoirNuit;
      }
    }
    .fill:hover,
    .fill:focus {
      box-shadow: inset 0 0 0 2em $Blanc;
    }
  }
}

#figma-logo {
  position: absolute;
  top: 6%;
  right: 4%;
  width: 240px;
  pointer-events: none;
  z-index: 0;

  @media screen and (max-width: 1000px) {
    width: 200px;
    top: 10%;
  }

  @media screen and (max-width: 800px) {
    width: 140px;
    top: 18%;
  }

  @media screen and (max-width: 600px) {
    width: 120px;
    top: 20%;
    transform: translateY(120%);
  }

  @media screen and (max-width: 450px) {
    width: 100px;
    top: 0;
    transform: translateY(0%);
  }

  @media screen and (max-width: 400px) {
    width: 80px;
    top: 0;
    transform: translateY(110%);
    right: 0%;
  }
}

#switch-logo {
  position: absolute;
  bottom: -12%;
  left: -14%;
  width: 240px;
  pointer-events: none;
}
