* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$NoirNuit: #04040f;
$Blanc: #f3f3f3;

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  position: relative;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  color: $Blanc;
  text-shadow: 4px 4px 4px rgba(17, 17, 17, 0.4);
  padding: 1.4rem 0 0 0;
  text-align: center;
  span {
    font-weight: 600;
  }

  @media screen and (max-width: 1300px) {
    font-size: 3rem;
    margin: 0 1rem;
  }

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 400px) {
    font-size: 1.6rem;
  }
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: $Blanc;
  text-transform: uppercase;

  @media screen and (max-width: 800px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 400px) {
    font-size: 1.6rem;
  }
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: $Blanc;

  @media screen and (max-width: 800px) {
    font-size: 1.4rem;
  }

  @media screen and (max-width: 400px) {
    font-size: 1.2rem;
  }
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: $Blanc;

  @media screen and (max-width: 800px) {
    font-size: 1.4rem;
  }

  @media screen and (max-width: 400px) {
    font-size: 1.2rem;
  }
}

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: $Blanc;
  cursor: pointer;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: $Blanc;

  @media screen and (max-width: 800px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 400px) {
    font-size: 0.8rem;
  }
}

.flux {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1300px) {
    max-width: 900px;
  }

  @media screen and (max-width: 800px) {
    max-width: 100%;
  }
}

.RadialGradient {
  background: rgb(17, 22, 138);
  background: linear-gradient(
    320deg,
    rgba(17, 22, 138, 0.8) 010%,
    rgba(134, 17, 160, 0.8) 90%
  );
}

.secondGradient {
  background: rgb(17, 22, 138);
  background: linear-gradient(
    320deg,
    rgba(17, 22, 138, 1) 010%,
    rgba(134, 17, 160, 1) 90%
  );
}

.btn {
  border: none;
  background: rgb(17, 22, 138);
  background: linear-gradient(
    320deg,
    rgba(17, 22, 138, 0.8) 010%,
    rgba(134, 17, 160, 0.8) 90%
  );
  border-radius: 50px;
  color: $Blanc;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  width: 225px;
  height: 56px;
  cursor: pointer;
  box-shadow: 4px 4px 8px rgba(17, 17, 17, 0.4);

  &:hover {
    background: none;
    color: $NoirNuit;
    background-color: $Blanc;
    transition: 0.5s;

    span {
      animation-name: handMoove;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      transform-origin: 70% 70%;
      display: inline-block;
    }
  }

  @media screen and (max-width: 800px) {
    width: 184px;
    height: 50px;
    font-size: 1rem;
  }
}

@keyframes handMoove {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@keyframes randomMoove {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
    transform: scale(1.1);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
    transform: scale(1);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
    transform: scale(1.1);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
    transform: scale(1);
  }
}
