* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

body {
  height: auto;
  position: relative;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  color: #f3f3f3;
  text-shadow: 4px 4px 4px rgba(17, 17, 17, 0.4);
  padding: 1.4rem 0 0 0;
  text-align: center;
}
h1 span {
  font-weight: 600;
}
@media screen and (max-width: 1300px) {
  h1 {
    font-size: 3rem;
    margin: 0 1rem;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.6rem;
  }
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #f3f3f3;
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 400px) {
  h2 {
    font-size: 1.6rem;
  }
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #f3f3f3;
}
@media screen and (max-width: 800px) {
  h3 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 400px) {
  h3 {
    font-size: 1.2rem;
  }
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #f3f3f3;
}
@media screen and (max-width: 800px) {
  h4 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 400px) {
  h4 {
    font-size: 1.2rem;
  }
}

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #f3f3f3;
  cursor: pointer;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #f3f3f3;
}
@media screen and (max-width: 800px) {
  p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  p {
    font-size: 0.8rem;
  }
}

.flux {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1300px) {
  .flux {
    max-width: 900px;
  }
}
@media screen and (max-width: 800px) {
  .flux {
    max-width: 100%;
  }
}

.RadialGradient {
  background: rgb(17, 22, 138);
  background: linear-gradient(320deg, rgba(17, 22, 138, 0.8) 10%, rgba(134, 17, 160, 0.8) 90%);
}

.secondGradient {
  background: rgb(17, 22, 138);
  background: linear-gradient(320deg, rgb(17, 22, 138) 10%, rgb(134, 17, 160) 90%);
}

.btn {
  border: none;
  background: rgb(17, 22, 138);
  background: linear-gradient(320deg, rgba(17, 22, 138, 0.8) 10%, rgba(134, 17, 160, 0.8) 90%);
  border-radius: 50px;
  color: #f3f3f3;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  cursor: pointer;
  box-shadow: 4px 4px 8px rgba(17, 17, 17, 0.4);
}
.btn i {
  padding: 0 0 0 0.5rem;
}
.btn:hover {
  background: none;
  color: #04040f;
  background-color: #f3f3f3;
  transition: 0.5s;
}
.btn:hover span {
  -webkit-animation-name: handMoove;
          animation-name: handMoove;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@media screen and (max-width: 800px) {
  .btn {
    width: 184px;
    height: 50px;
    font-size: 1rem;
  }
}

@-webkit-keyframes handMoove {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@keyframes handMoove {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: -100%;
  background-color: #04040f;
  padding-top: 60px;
  transition: left 0.5s ease;
}
@media screen and (min-width: 500px) {
  .sidenav {
    left: 0;
    background-color: transparent;
    position: absolute;
    height: 5rem;
    padding-top: 0;
    display: flex;
    align-items: center;
  }
}
.sidenav a {
  text-decoration: none;
  border-bottom: none;
  display: block;
  transition: 0.3s;
}
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
@media screen and (min-width: 500px) {
  .sidenav .close {
    display: none;
  }
}
.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidenav #closeBtn {
  position: absolute;
  top: 4%;
  left: 6%;
}
@media screen and (min-width: 500px) {
  .sidenav #closeBtn {
    display: none;
  }
}
.sidenav--content__container {
  padding: 2rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 500px) {
  .sidenav--content__container {
    padding: 0;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.sidenav--content__container a {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 0;
  border-bottom: none;
  color: #f3f3f3;
}
.sidenav--content__container a:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
@media screen and (min-width: 500px) {
  .sidenav--content__container a i {
    display: none;
  }
}
.sidenav--content__container .line_social {
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 500px) {
  .sidenav--content__container .line_social {
    display: none;
  }
}
.sidenav--content__container .line_social a {
  border-bottom: none;
}
.sidenav--content__container .line_social img {
  width: 32px;
}

#openBtn {
  position: absolute;
  top: 1%;
  left: 6%;
  cursor: pointer;
  z-index: 1;
}
@media screen and (min-width: 500px) {
  #openBtn {
    display: none;
  }
}

.active {
  left: 0;
}

.container {
  background: url("media/bggradient.png") no-repeat center center fixed;
  background-size: cover;
}
.container .banner__container {
  padding: 0 0 15rem 0;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .container .banner__container {
    font-size: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .container .banner__container {
    padding: 10rem 0 0 0;
  }
}
.container .banner__container--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 3rem 0;
}
.container .banner__container .btn {
  position: relative;
  z-index: 2;
  text-align: center;
}
.container .banner__container .btn:hover {
  background-color: #f3f3f3;
}
.container .banner__container--img {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.container .banner__container--img img {
  width: 538px;
}
@media screen and (max-width: 800px) {
  .container .banner__container--img img {
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .container .banner__container--img img {
    width: 340px;
  }
}
@media screen and (max-width: 350px) {
  .container .banner__container--img img {
    display: none;
  }
}
.container .banner__container--img #scroll {
  display: none;
}
@media screen and (max-width: 350px) {
  .container .banner__container--img #scroll {
    cursor: pointer;
    display: block;
    width: 62px;
    margin: 0 auto;
    transform: translateY(-100%);
  }
}
.container .banner__container .banner--social-icons {
  position: fixed;
  z-index: 10;
  right: 6%;
  bottom: 0;
}
.container .banner__container .banner--social-icons ul li {
  list-style: none;
  margin: 3rem 0 0.6rem 0;
  cursor: pointer;
}
.container .banner__container .banner--social-icons ul li a img {
  width: 2rem;
}
.container .banner__container .banner--social-icons ul li a img:hover {
  transform: scale(1.4);
  transition: 0.5s;
}
@media screen and (max-width: 500px) {
  .container .banner__container .banner--social-icons {
    display: none;
  }
}

.content__container {
  background-color: #04040f;
  position: relative;
}
.content__container #circle-w-bg {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 10%;
}
.content__container #circle-v-bg {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 9%;
}

footer {
  height: 24vh;
  display: flex;
  align-items: center;
}
footer .footer--container {
  width: 100%;
}
footer .footer--container p {
  text-align: center;
}
footer .footer--container ul {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem auto;
}
footer .footer--container ul li {
  list-style: none;
  color: #f3f3f3;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 1rem;
}
footer .footer--container ul li:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.content--designer {
  height: auto;
  padding: 4rem 0;
  position: relative;
}
@media screen and (max-width: 800px) {
  .content--designer {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 400px) {
  .content--designer {
    padding: 1rem 0;
  }
}
.content--designer--text {
  padding: 2rem 0 2rem 0;
}
.content--designer--text h2 {
  padding: 0 0 1rem 0;
}
.content--designer--text p {
  padding: 0 0 3rem 0;
}
.content--designer--text button {
  font-size: 1.2rem;
  margin: 0 0 3rem 0;
}
.content--designer--text button i {
  padding-left: 0.6rem;
}
@media screen and (max-width: 1000px) {
  .content--designer--text {
    padding: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .content--designer--text button {
    font-size: 1rem;
    margin: 0 0 3rem 0;
  }
}
@media screen and (max-width: 400px) {
  .content--designer--text {
    padding: 2rem 0 2rem 0;
  }
}
.content--designer--cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: 30% 40% 30%;
  padding: 2rem 0 0 0;
  grid-template-areas: "grid1 grid1 grid1" "grid2 grid3 grid3" "grid4 grid4 grid5";
}
@media screen and (max-width: 1000px) {
  .content--designer--cards {
    grid-template-columns: 100%;
    padding: 2rem 2rem 0 2rem;
    grid-template-areas: "grid1" "grid3" "grid4";
  }
}
.content--designer--cards .card {
  height: 356px;
  border-radius: 12px;
}
@media screen and (max-width: 1000px) {
  .content--designer--cards .card {
    width: 100%;
    height: 180px;
  }
}
.content--designer #grid1 {
  grid-area: grid1;
  background: url("media/mockup-mob-test.png") no-repeat center center;
  background-size: cover;
  cursor: pointer;
  border-radius: 12px;
}
.content--designer #grid2 {
  grid-area: grid2;
  background-color: #04040f;
  border: 2px solid #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .content--designer #grid2 {
    display: none;
  }
}
.content--designer #grid2 p {
  font-size: 0.9rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}
.content--designer #grid2 a {
  background-color: #04040f;
  color: #f3f3f3;
  padding: 0.6rem 1rem;
  margin: 2rem 0 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #f3f3f3;
  transition: 0.25s;
}
.content--designer #grid2 a:hover, .content--designer #grid2 a:focus {
  color: #04040f;
}
.content--designer #grid2 .fill:hover,
.content--designer #grid2 .fill:focus {
  box-shadow: inset 0 0 0 2em #f3f3f3;
}
.content--designer #grid3 {
  grid-area: grid3;
  background: url("media/Mockup_desktop_V1.png") no-repeat left center;
  background-size: cover;
  border-radius: 12px;
}
.content--designer #grid4 {
  grid-area: grid4;
  background: url("media/Mockup_VisitCard_V1.png") no-repeat left center;
  background-size: cover;
  cursor: pointer;
  border-radius: 12px;
}
.content--designer #grid5 {
  grid-area: grid5;
  background-color: #04040f;
  border: 2px solid #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .content--designer #grid5 {
    display: none;
  }
}
.content--designer #grid5 p {
  font-size: 0.9rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}
.content--designer #grid5 a {
  background-color: #04040f;
  color: #f3f3f3;
  padding: 0.6rem 1rem;
  margin: 2rem 0 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #f3f3f3;
  transition: 0.25s;
}
.content--designer #grid5 a:hover, .content--designer #grid5 a:focus {
  color: #04040f;
}
.content--designer #grid5 .fill:hover,
.content--designer #grid5 .fill:focus {
  box-shadow: inset 0 0 0 2em #f3f3f3;
}

#figma-logo {
  position: absolute;
  top: 6%;
  right: 4%;
  width: 240px;
  pointer-events: none;
}
@media screen and (max-width: 1000px) {
  #figma-logo {
    width: 200px;
    top: 10%;
  }
}
@media screen and (max-width: 800px) {
  #figma-logo {
    width: 140px;
    top: 18%;
  }
}
@media screen and (max-width: 600px) {
  #figma-logo {
    width: 120px;
    top: 20%;
    transform: translateY(120%);
  }
}
@media screen and (max-width: 400px) {
  #figma-logo {
    width: 80px;
    top: 0;
    transform: translateY(200%);
    right: 0%;
  }
}

#switch-logo {
  position: absolute;
  bottom: -12%;
  left: -14%;
  width: 240px;
  pointer-events: none;
}

.content--developer {
  height: auto;
  padding: 4rem 0;
  position: relative;
}
@media screen and (max-width: 800px) {
  .content--developer {
    margin: 0 2rem;
  }
}
.content--developer--text {
  padding: 2rem 0 2rem 0;
}
@media screen and (max-width: 1000px) {
  .content--developer--text {
    padding: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .content--developer--text {
    padding: 1rem 0;
  }
}
.content--developer--text h2 {
  padding: 0 0 1rem 0;
}
.content--developer--text p {
  padding: 0 0 3rem 0;
}
.content--developer--text button {
  font-size: 1.2rem;
  margin: 0 0 3rem 0;
}
@media screen and (max-width: 800px) {
  .content--developer--text button {
    font-size: 1rem;
  }
}
.content--developer--text button i {
  padding-left: 0.6rem;
}
.content--developer--lang ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  word-spacing: 2rem;
  padding: 2rem 0 0 0;
}
@media screen and (max-width: 400px) {
  .content--developer--lang ul {
    flex-wrap: wrap;
    line-height: 2rem;
    word-spacing: 2rem;
  }
}
.content--developer--lang ul li {
  list-style: none;
  color: #f3f3f3;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  cursor: default;
}
.content--developer--lang ul li#html:hover {
  color: #e54c21;
}
.content--developer--lang ul li#css:hover {
  color: #0c6fb2;
}
.content--developer--lang ul li#sass:hover {
  color: #ce679a;
}
.content--developer--lang ul li#js:hover {
  color: #f7e018;
}
.content--developer--lang ul li#react:hover {
  color: #61dbfb;
}
@media screen and (max-width: 1300px) {
  .content--developer--lang ul li {
    font-size: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .content--developer--lang ul li {
    font-size: 1.4rem;
  }
}
.content--developer--cards {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 4rem 10rem;
}
.content--developer--cards .dev--card {
  width: 100%;
  height: 240px;
  border-radius: 12px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.content--developer--cards .dev--card::after {
  content: "";
  background-color: black;
  opacity: 0;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
  transition: opacity 0.8s ease;
}
.content--developer--cards .dev--card .hover--span {
  display: none;
}
.content--developer--cards .dev--card:hover::after {
  opacity: 0.6;
  z-index: 1;
}
@media screen and (max-width: 800px) {
  .content--developer--cards .dev--card {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 500px) {
  .content--developer--cards .dev--card {
    height: 120px;
  }
}
.content--developer--cards .dev--card:hover .hover--span {
  position: absolute;
  display: block;
  color: #f3f3f3;
  font-size: 1.2rem;
  opacity: 1;
  padding: 1rem 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 10;
  transition: 1s;
}
.content--developer--cards #dev-card-1 {
  background: url("media/valorant.PNG") no-repeat center center;
  background-size: cover;
  cursor: pointer;
}
.content--developer--cards #dev-card-2 {
  background: url("media/astro.PNG") no-repeat left center;
  background-size: cover;
  cursor: pointer;
}
.content--developer--cards #dev-card-3 {
  background: url("media/music.PNG") no-repeat center center;
  background-size: cover;
  cursor: pointer;
}
.content--developer--cards #dev-card-4 {
  background: url("media/visu1.PNG") no-repeat center center;
  background-size: cover;
  cursor: pointer;
  text-align: center;
}
.content--developer--cards #dev-card-5 {
  background: url("media/visu3.PNG") no-repeat center center;
  background-size: cover;
  cursor: pointer;
  text-align: center;
}
.content--developer--cards #dev-card-6 {
  background: url("media/visu5.PNG") no-repeat center center;
  background-size: cover;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: 1300px) {
  .content--developer--cards {
    gap: 2rem;
    margin: 4rem 4rem;
  }
}
@media screen and (max-width: 900px) {
  .content--developer--cards {
    grid-template-columns: 40% 40%;
  }
}
@media screen and (max-width: 800px) {
  .content--developer--cards {
    gap: 1rem;
    margin: 2rem 2rem 4rem 2rem;
  }
}
@media screen and (max-width: 600px) {
  .content--developer--cards {
    grid-template-columns: 80%;
  }
}
@media screen and (max-width: 400px) {
  .content--developer--cards {
    margin: 2rem 0;
  }
}
.content--developer #phone-logo {
  position: absolute;
  top: -2%;
  right: 2%;
  width: 300px;
  pointer-events: none;
}
@media screen and (max-width: 800px) {
  .content--developer #phone-logo {
    width: 240px;
  }
}
@media screen and (max-width: 600px) {
  .content--developer #phone-logo {
    width: 130px;
    top: 16%;
  }
}
@media screen and (max-width: 400px) {
  .content--developer #phone-logo {
    width: 120px;
    top: 14%;
    right: -6%;
  }
}

.content--experience {
  width: 70vw;
  display: block;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 800px) {
  .content--experience {
    width: 80%;
  }
}
@media screen and (min-width: 1600px) {
  .content--experience {
    width: 58vw;
  }
}
.content--experience--date {
  padding: 0 2rem 5rem 2rem;
}
.content--experience--date h3::before {
  content: "";
  display: inline-block;
  background-color: #f3f3f3;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-200%) translateY(50%);
}
.content--experience--date span {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #747474;
}
.content--experience--date p {
  margin: 1rem 0 0 0;
}
@media screen and (max-width: 400px) {
  .content--experience--date {
    padding: 0 2rem 3rem 2rem;
  }
}
.content--experience #white-line {
  height: 90%;
  width: 2px;
  background-color: #f3f3f3;
  position: absolute;
  top: 2%;
  left: 0;
  z-index: 4;
}
.content--experience #white-square-banner {
  height: 108px;
  width: 108px;
  border-top: 2px solid #f3f3f3;
  border-right: 2px solid #f3f3f3;
  position: absolute;
  top: -2%;
  right: -2%;
  z-index: 4;
}
@media screen and (max-width: 1300px) {
  .content--experience #white-square-banner {
    height: 60px;
    width: 60px;
  }
}

.content--contact {
  padding: 5rem 0;
  position: relative;
}
@media screen and (max-width: 600px) {
  .content--contact {
    padding: 2rem 0;
  }
}
@media screen and (max-width: 500px) {
  .content--contact {
    padding: 4rem 2rem;
  }
}
.content--contact .form--container {
  width: 60vw;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  .content--contact .form--container {
    width: 100%;
  }
}
.content--contact .form--container h2 {
  text-align: center;
}
.content--contact .form--container .box__form form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 1300px) {
  .content--contact .form--container .box__form form {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .content--contact .form--container .box__form form {
    width: 100%;
  }
}
.content--contact .form--container .box__form form label {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #f3f3f3;
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.content--contact .form--container .box__form form input {
  height: 36px;
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-family: "Raleway", sans-serif;
}
.content--contact .form--container .box__form form input::-moz-placeholder {
  font-family: "Raleway", sans-serif;
}
.content--contact .form--container .box__form form input:-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
}
.content--contact .form--container .box__form form input::placeholder {
  font-family: "Raleway", sans-serif;
}
.content--contact .form--container .box__form form #message {
  height: 200px;
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
}
.content--contact .form--container .box__form form #message::-moz-placeholder {
  font-family: "Raleway", sans-serif;
}
.content--contact .form--container .box__form form #message:-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
}
.content--contact .form--container .box__form form #message::placeholder {
  font-family: "Raleway", sans-serif;
}
.content--contact .form--container .box__form form #btn--form {
  display: block;
  margin: 4rem auto;
  height: 3rem;
  width: 12rem;
}
.content--contact .form--container .box__form form #btn--form i {
  padding-left: 1rem;
}
.content--contact #bubbleChat-logo {
  position: absolute;
  top: 0;
  left: 10%;
}
@media screen and (max-width: 1300px) {
  .content--contact #bubbleChat-logo {
    width: 200px;
    left: 6%;
  }
}
@media screen and (max-width: 800px) {
  .content--contact #bubbleChat-logo {
    width: 200px;
    left: 0;
  }
}
@media screen and (max-width: 600px) {
  .content--contact #bubbleChat-logo {
    width: 120px;
    top: -4%;
  }
}
@media screen and (max-width: 500px) {
  .content--contact #bubbleChat-logo {
    width: 100px;
    top: -8%;
  }
}
@media screen and (max-width: 500px) {
  .content--contact #bubbleChat-logo {
    width: 100px;
    top: -2%;
  }
}
.content--contact #at-logo {
  position: absolute;
  bottom: -14%;
  right: 10%;
}
@media screen and (max-width: 1300px) {
  .content--contact #at-logo {
    width: 200px;
    bottom: -8%;
  }
}
@media screen and (max-width: 800px) {
  .content--contact #at-logo {
    width: 200px;
    bottom: -8%;
  }
}
@media screen and (max-width: 600px) {
  .content--contact #at-logo {
    width: 110px;
    bottom: -4%;
  }
}/*# sourceMappingURL=style.css.map */